.container
  .board_task_content
    %h2.task_name= @task.title
    - if user_signed_in? && current_user.has_task_written?(@task)
      .board_task_content_actions       
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to 'Edit', edit_board_task_path(@task.board.id, @task.id)
            = link_to 'Delete', board_task_path(@task.board.id, @task.id), data: {method: 'delete', confirm: 'Are you sure to delete?'}
  .container
    - if @task.eyecatch.attached?
      .board_task_image 
        = image_tag @task.eyecatch
  .board_task
    %p.task_description= @task.content
