= link_to board_path(board) do
  .card
    .card_content
      %h2.card_title
        = board.name
      - if user_signed_in? && current_user.has_written?(board)
        .card_content_actions       
          .dropdown
            = image_tag 'actions.svg', class: 'dropbtn'
            .dropdown-content.mini
              = link_to 'Edit', edit_board_path(board)
              = link_to 'Delete', board_path(board), data: {method: 'delete', confirm: '本当に削除してもよろしいですか？'}
    .card_description 
      = board.description 
    .card_detail 
      = image_tag 'Oval1.png'
      %div
        %p= board.display_created_at
      
          