.container
  %h1.title All Boards
  - @boards.each do |board|
    = link_to board_path(board) do
      .card
        .card_content
          %h2.card_title
            = board.name
          .card_content_actions       
            .dropdown
              = image_tag 'actions.svg', class: 'dropbtn'
              .dropdown-content.mini
                = link_to '編集する', edit_board_path(board)
          -# .dropdown-content-boards 
          -#   %a{:href => "#"} Edit 
          -#   %a{:href => "#"} Delete 
        .card_description 
          = board.description 
        .card_detail 
          = image_tag 'Oval1.png'
               
          
  = link_to new_board_path do
    .float_btn
      %i.fa.fa-plus Add new board
      

