.container
  %h1.title All Boards
  - @boards.each do |board|
    = link_to board_path(board) do
      .card
        .card_detail
          %h2.card_title
            = board.name
          .card_detail_actions       
            .dropdown
              = image_tag 'actions.svg', class: 'dropbtn'
              .dropdown-content.mini
                %a{:href => "#"} 編集する
          -# .dropdown-content-boards 
          -#   %a{:href => "#"} Edit 
          -#   %a{:href => "#"} Delete 
        .card_content 
          = board.description        
          
  = link_to new_board_path do
    .float_btn
      %i.fa.fa-plus Add new board
      

