.container
  %h1.title New Board
  = form_with(model: @board, url: boards_path, method: 'post', local: true) do |f|
    %div
      = f.label :name, 'Name'
    %div
      = f.text_field :name, class: 'text'
    %div
      = f.label :description, 'Description'
    %div
      = f.text_area :description
    = f.submit 'Submit', class: 'btn-primary'
