.container
  %h2.board_name= @board.name
  .board
    .board_content
    = @board.description
- @tasks.each do |task|
  .board_task 
    %h3= task.title
    %p= task.content
    %p= "Deadline: #{task.deadline}"

.container
  = link_to new_board_task_path(@board) do
    .float_btn
      %i.fa.fa-plus Add new card
   